<div class="row">
  <div class="col mb-4 mr-0 ml-0">
    <div class="alert alert-secondary" role="alert">
      <h3 class="font-weight-light"><a href="http://bit.ly/3cGPkDt">English for me</a> - вивчення англійський слів</h3>
      <p><span class="font-weight-bold">Відео, переклад, словосполучення, однокоріневі слова, приклади використання</span></p>
      <p>Вивчи вже нарешті англійську мову!</p>
      <a class="Text-light" href="/ads"><i class="fas fa-ad mr-1"></i></a>
    </div>
  </div>
</div>