<%= render "layouts/header" %>
<div class="px-3 py-3 mx-auto text-center">
	<h2 class="h1-responsive font-weight-bold text-center my-5">Сервіс для перегляду розкладу занять</h2>
	<p class="grey-text text-center w-responsive mx-auto mb-5">Розклад занять оптимізований для мобільних пристроїв 📱</p>
	<p><a class="btn btn-primary btn-lg" href="/universities/sumdu/" role="button">Розклад занять СумДУ</a></p>
</div>
<%= render "layouts/footer" %>