<% meta_tag :description, "Розклад занять СумДУ, КПІ" %>
<% meta_tag :keywords, "Розклад,СумДУ,КПІ,Мій Університет,My University" %>

<%= render "layouts/header" %>

  <div class="position-relative overflow-hidden text-center bg-light">
  <div class="col-md-5 p-lg-2 mx-auto my-5">
    <h1 class="display-5 font-weight-normal">Онлайн розклад для навчальних закладів</h1>
    <p class="lead font-weight-normal">Детальний розклад занять, списки груп та вчителів</p>
    <a class="btn btn-primary btn-lg" href="/universities">Розклад <span class="text-warning">(beta)</span></a>
  </div>
  <div class="product-device d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <a href="/ios" style="text-decoration: none">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">iOS</h2>
        <p class="lead">Розклад СумДУ та КПІ</p>
      </div>
      <div class="mx-auto" style="width: 50%; height: 300px;">
        <%= image_tag("ios.png", class: "img-fluid") %>
      </div>
    </div>
  </a>
  <a href="/android" style="text-decoration: none">
    <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-dark overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Android</h2>
        <p class="lead">Розклад КПІ та СумДУ</p>
      </div>
      <div class="mx-auto" style="width: 50%; height: 300px;">
        <%= image_tag("android4.png", class: "img-fluid") %>
      </div>
    </div>
  </a>
</div>

<%= render "layouts/footer" %>