<h1>Мій Універ</h1>
<h2>Сервіс для перегляду розкладу занять</h2>
<br>
<h3><a href="/universities/sumdu/">Розклад занять СумДУ</a></h3>
<hr>
<h4>Також спробуйте мобільний додаток <a href="https://itunes.apple.com/ua/app/university-schedule/id1440425058">Мій Універ</a> для iOS</h4>

