<main role="main" class="container">
	<div class="jumbotron">
		<h1>Мій Університет</h1>
		<p class="lead">Сервіс для перегляду розкладу занять</p>
		<p><a class="btn btn-primary btn-lg" href="/universities/sumdu/" role="button">Розклад занять СумДУ</a></p>
	</div>
</main>