<%= render "layouts/header" %>
<div class="px-3 py-3 mx-auto text-center">
	<h2 class="h1-responsive font-weight-bold text-center my-5">Онлайн розклад для навчальних закладів</h2>
	<p class="grey-text text-center w-responsive mx-auto mb-5">Детальний розклад занять, списки груп та вчителів</p>
	<p><a class="btn btn-primary btn-lg" href="/universities/sumdu/" role="button">Розклад занять СумДУ</a></p>
</div>
<%= render "layouts/footer" %>