<p>
	<div class="px-3 py-3 mx-auto text-center">
		<h2 class="h1-responsive font-weight-bold text-center my-5">Упс 🤷‍♂️</h2>
		<p class="grey-text text-center w-responsive mx-auto mb-5">Нічого не знайдено...</p>
		<p>Спробуйте повернутися на <%= link_to 'Головну', root_url %> сторінку, або <a href="/contacts">повідомте про помилку</a></p>
	</div>
</p>