<p>
	<div class="px-3 py-3 mx-auto text-center">
		<h2 class="h1-responsive font-weight-bold text-center my-5">Розклад не доступний</h2>
		<p>У зв`якзку з відключенням <b>API</b> на сайті <a href="http://www.hneu.edu.ua">www.hneu.edu.ua</a> розклад для університету <b>ХНУЕ</b> тимчасово не доступний</p>
		<%= image_tag("19 Coming soon.png", class: "img-fluid") %>
	</div>
</p>
