<p>
	<div class="px-3 py-3 mx-auto text-center">
		<h2 class="h1-responsive font-weight-bold text-center my-5">Розклад не доступний</h2>
		<p>У зв`якзку з відключенням <b>API</b> на сайті <a href="www.hneu.edu.ua">www.hneu.edu.ua</a> розклад для університету <b>ХНУЕ</b> тимчасово не доступний</p>
	</div>
</p>