<table>
  <tr>
    <td><%= link_to 'Groups', university_groups_url %></td>
    <td><%= link_to 'Teachers', university_teachers_url %></td>
    <td><%= link_to 'Auditoriums', university_auditoriums_url %></td>
  </tr>
</table>