<table>
  <tr>
    <td><%= link_to 'Аудиторії', university_auditoriums_url %></td>
    <td><%= link_to 'Викладачі', university_teachers_url %></td>
    <td><%= link_to 'Групи', university_groups_url %></td>
  </tr>
</table>