<div class="u-full-width">
  <div class="menu">
    <ul class="pagination">
      <li><%= link_to 'Аудиторії', university_auditoriums_url %></li>
      <li><%= link_to 'Викладачі', university_teachers_url %></li>
      <li><%= link_to 'Групи', university_groups_url %></li>
    </ul>
  </div>
</div>