<%= render "layouts/header" %>
<main class="container" role="main">
  <div class="container">
    <div class="row">
      <h3><b>Про сервіс</b></h3>
    </div>
    <div class="row">
      <ul>
        <li>Сервіс для створення, зберігання та відображення інформації про розклад для студентів та викладачів</li>
        <li>Система адміністрування навчального закладу для створення та редагування інформациї з різними правами доступу</li>
        <li>Мобільний додаток для перегляду розкладу та довідкової інформації для <a href="/ios">iOS</a> та <a href="/android">Android</a></li>
      </ul>
    </div>
  </div>
</main>
<%= render "layouts/footer" %>