<%= render "layouts/header" %>
<main class="container" role="main">
  <div class="container">
    <div class="row">
      <h1 class="font-weight-light">Спонсорство та реклама</h1>
    </div>
    <div class="row mt-4">
      <p>Кожен місяць понад <b>2 тисячі</b> студентів та викладачів відвідують сайт Мій Університет. </p>
      <p>Якщо ви зацікавлені в рекламі товару чи послуги на сайті Мій Університет, просто надішліть повідомлення на електронну пошту <a href="mailto:voevodin.yura@icloud.com">voevodin.yura@icloud.com</a> - і ви отримаєте відповідь протягом 24 годин із найновішою інформацією про ціни та можливість розмістити рекламу.</p>
    </div>
    <div class="row my-3">
      <div class="alert alert-secondary" role="alert">
        <h3 class="font-weight-light">Навіщо розміщати рекламу на сайті “Мій Університет”?</h3>
        <ul>
          <li><span class="font-weight-bold">Просто та ексклюзивно</span>. Розміщуючи рекламу на сайті Мій Університет, ви будете єдиним спонсором на цьому тижні. Ваше оголошення не буде конкурувати з іншими оголошеннями на одній сторінці. На кожній сторінці з <u>розкладом занять</u> (а їх багато!) буде показуватися виключно ваше оголошення.</li>
          <li><b>Персональні оголошення</b>. Оголошення на сайті Мій Університет є елегантними, ефективними та розроблені так, щоб вони ідеально відповідали вмісту сайту. Іншими словами, вони ідеально підходять для будь-якої високоякісної марки чи товару.</li>
          <li>Більш як <b>2 тисячі унікальних відвідувачів</b>, серед яких студенти та викладачі навчальних закладів.</li>
        </ul>
      </div>
    </div>
    <div class="row my-3">
      <h3 class="font-weight-light">Цінова політика</h3>
      <p>Модель ціноутворення на оголошення проста і розроблена для того, щоб як великі, так і малі компанії могли розміщувати рекламу як на сайті.</p>
      <ul>
        <li>Один тиждень реклами на вебсайті коштує <b>250 гривень</b>.</li>
        <li>Розробка дизайну вашого оголошення включена у вартість. Ніяких додаткових витрат.</li>
      </ul>
      <p>Хочете дізнатися більше? Надішліть повідомлення на <a href="mailto:voevodin.yura@icloud.com">voevodin.yura@icloud.com</a>, і ви отримаєте особисту відповідь протягом 24 годин.</p>
    </div>
  </div>
</main>
<%= render "layouts/footer" %>