<%= render "layouts/header" %>
<main class="container" role="main">
  <div class="container">
    <div class="row"><h1>Співпраця</h1></div>
    <div class="row">
     <p>
      Ми пропонуємо підключення до сервісу <b>Мій Університет</b> для вищих навчальних закладів
      по всій территорії України.
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <h3>Ми пропонуємо:</h3>
  </div>
  <div class="row">
    <ul>
      <li>Cистему для керування розкладом для викладачів.</li>
      <li>Мобільний додаток для перегляду розкладу на <b>iOS</b> та <b>Android</b> (у розробці).</li>
      <li>Консультації та підтримку навчальних закладів щодо питань по роботі з
        сервісом <b>Мій Університет</b>.</li>
        <li>Швидку та стабільну роботу сервісіву розкладу для користувачів.</li>
      </ul>
    </div>
  </div>
</main>
<%= render "layouts/footer" %>