<%= render "layouts/header" %>
<main class="container" role="main">
  <div class="container">
    <div class="row"><h1>Support the project</h1></div>
    <div class="row"><h2>Підтримати проект</h2></div>
    <div class="row">
      <div class="col">
        <p>Будемо надзвичайно вдячні за будь-яку вашу підтримку.</p>
        <p>Якщо ви бажаєте підтримати наш проект, можете скористатися цією кнопкою:</p>
        <p><a class="btn btn-primary btn-lg" href="https://www.liqpay.ua/en/checkout/i55785320918">Donate/Підтримати</a></p>
      </div>

    </div>
  </div>
</main>
<%= render "layouts/footer" %>