<% meta_tag :description, "Підтримати сервіс Мій Університет на Patreon" %>
<% @title = "❤️ Підтримати Мій Університет" %>

<%= render "layouts/header" %>
<main class="container" role="main">
  <div class="container">
    <div class="row my-3">
      <div class="col">
        <h1>Як підтримати Мій Університет?</h1></div>
      </div>
    <div class="row">
      <div class="col">
        <p>Підтримати роботу сайту, <a href="/ios">iOS</a> та <a href="/android">Android</a> додатків можна від $3</p>
        <p>Ці гроші допоможуть оплачувати необхідні для роботи сервіси. Також покращувати сайт, додатки, та додавати нові функції.</p>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <a href="https://www.patreon.com/bePatron?u=29201311" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
      </div>
    </div>
  </div>
</main>
<%= render "layouts/footer" %>
