<% no_index %>
<%= render "layouts/header" %>
<main class="container" role="main">
  <div class="container">
    <div class="row">
      <p><b>ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</b></p>
      <p><br></p>
      <p>Цей документ описує політику конфіденційності для сайту https://my-university.com.ua (далі – Сайт) сервісу <b>Мій Університет</b>.</p>
      <p><b>Збір та використання персональних даних</b></p>
      <p><b>Мій Університет</b> використовує <b>Google Analytics</b> для відстеження та аналізу відвідувань та ефективності Сайту. За допомогою системи <b>Google Analytics</b> збирається статистика дій користувачів, місце розташування, мову, браузер, операційну систему, провайдера і пристрої, що використовуються для доступу до Сайту.</p>
      <p><br></p>
      <p><b>Умови надання інформації (Disclaimer)</b></p>
      <p><br></p>
      <p>Сайт може містити посилання на інші сайти. Такі посилання наведені виключно для інформаційних цілей. <b>Мій Університет</b> не несе відповідальності за зміст цих сайтів. Якщо у вас є питання щодо цієї політики, залиште повідомлення на адресу електронної пошти <b>voevodin.yura@icloud.com</b>.</p>
      <p><br></p>
      <p><b>Автоматичний збір інформації</b></p>
      <p><br></p>
      <p>Сайт автоматично отримує і записує інформацію неособистого характеру у свої серверні журнали з браузерів користувачів, включаючи IP-адресу та адреси запитуваних сторінок.</p>
      <p><br></p>
      <p><b>Зміна ПОЛІТИКИ КОНФІДЕНЦІЙНОСТІ</b></p>
      <p><br></p>
      <p><b>Мій Університет</b> може в будь-який час без попереднього повідомлення та на власний розсуд змінювати правила <b>ПОЛІТИКИ КОНФІДЕНЦІЙНОСТІ </b>Сайту. Зміни, що вносяться до <b>ПОЛІТИКИ КОНФІДЕНЦІЙНОСТІ</b>, публікуються на цій сторінці Сайту.</p>
      <p><br></p>
      <p>Якщо Ви відвідуєте даний Сайт, то Ви автоматично погоджуєтесь з даною <b>ПОЛІТИКОЮ КОНФІДЕНЦІЙНОСТІ</b> та її умовами. Якщо Ви не погоджуєтесь з даною <b>ПОЛІТИКОЮ КОНФІДЕНЦІЙНОСТІ</b> та її умовами, то Ви маєте залишити цей Сайт.</p>
      <p>Ця політика діє з <b>6 лютого 2020</b>.</p>
    </div>
  </div>
</main>
<%= render "layouts/footer" %>
