<% no_index %>
<main class="container" role="main">
  <div class="container">
    <div class="row"><p></p></div>
    <div class="row">
      <div class="col">
        <h1 class="text-center">Ласкаво просимо!</h1>
        <h3 class="text-center">Дякуємо, що користуєтеся нашими додатком 🎉</h3>
        <br>
        <br>
        <p><b>Політика конфіденційності</b></p>
        <p>Цей документ описує політику конфіденційності для додатка Мій Університет (далі – Додаток).</p>
        <br>
        <p><b>Збір та використання персональних даних</b></p>
        <p>Додаток не збирає ваші приватні дані у будь-якому вигляді, та не використовує сторонні сервіси для збору статистики користування Додатком.</p>
        <br>
        <p><b>Умови надання інформації (Disclaimer)</b></p>
        <p>Додаток може містити інформацію з інших сайтів. <b>Мій Університет</b> не несе відповідальності за зміст цих сайтів. Якщо у вас є питання щодо цієї політики, залиште повідомлення на адресу електронної пошти <b><a href="mailto:voevodin.yura@icloud.com">voevodin.yura@icloud.com</a></b></p>
        <br>
        <p><b>Зміна Політики конфіденційності</b></p>
        <p><b>Мій Університет</b> може в будь-який час без попереднього повідомлення та на власний розсуд змінювати правила <b>Політики конфіденційності </b>Додатку. Зміни, що вносяться до <b>Політики конфіденційності</b>, публікуються на цій сторінці.</p>
        <p>Якщо Ви використовуєте цей Додаток, то Ви автоматично погоджуєтесь з даною <b>Політикою конфіденційності</b> та її умовами. Якщо Ви не погоджуєтесь з даною <b>Політикою конфіденційності</b> та її умовами, то Ви маєте припинити використання цього Додатку.</p>
        <p>Дата останнього оновлення <b>8 лютого 2020 року</b>.</p>
      </div>
    </div>
  </div>
</main>
