<% meta_tag :description, "Підбірка Telegram-каналів украхнських університетів" %>
<% meta_tag :keywords, "Telegram,CумДУ,КПІ,ХНЕУ,КНУ,НАУ,КНЕУ,КМА,НПУ,КНТЕУ,ЛНУ,ЗНУ,ДНУ" %>
<% @title = "Мій Університет - Telegram-канали українських університетів" %>

<%= render "layouts/header" %>
<main class="container" role="main">

  <div class="container mb-4">
    <div class="row"><h1>Telegram-канали українських університетів</h1></div>
    <div class="row mt-4">

      <div class="col-md-2 order-md-2 mb-4">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" href="#item-1">Київ</a>
          <a class="list-group-item list-group-item-action" href="#item-2">Львів</a>
          <a class="list-group-item list-group-item-action" href="#item-3">Тернопіль</a>
          <a class="list-group-item list-group-item-action" href="#item-4">Івано-Франківськ</a>
          <a class="list-group-item list-group-item-action" href="#item-5">Запоріжжя</a>
          <a class="list-group-item list-group-item-action" href="#item-6">Харків</a>
          <a class="list-group-item list-group-item-action" href="#item-7">Одеса</a>
          <a class="list-group-item list-group-item-action" href="#item-8">Дніпро</a>
          <a class="list-group-item list-group-item-action" href="#item-9">Суми</a>
          <a class="list-group-item list-group-item-action" href="#item-10">Черкаси</a>
        </div>
        <a class="btn btn-primary btn-lg my-3" href="https://forms.gle/g5p8fagvnYvgcyfJ9">Додати »</a>
      </div>

      <div class="mx-auto col-md-8 order-md-1">
        <h2 id="item-1">Київ</h2>
        <!--  -->
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-2">
                <picture>
                  <source srcset="/kpi-white.svg" media="(prefers-color-scheme: dark)">
                    <img src="/kpi.svg" height="64" width="64" alt="Логотип КПІ">
                  </picture>
                </div>
                <div class="col-md-10">
                  <h5 class="mt-2">Національний технічний університет України «Київський політехнічний інститут ім. І. Сікорського»</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://t.me/kpilive" rel="external nofollow" target="_blank">@kpilive </a>– усе про життя студентів КПІ й навіть більше. Якщо досі не в курсі про останні хакатони і стартап-тренінги, цей канал тобі точно знадобиться!</li>
                  <li class="list-group-item"><a href="https://t.me/kpi_library" rel="external nofollow" target="_blank">@kpi_library</a> – якщо запланував похід у бібліотеку. Дайджест літературних та освітніх подій університету.</li>
                  <li class="list-group-item"><a href="https://t.me/KPI_Literature" rel="external nofollow" target="_blank">@KPI_Literature</a> – для цінувальників вечорів поезії КПІ.</li>
                  <li class="list-group-item"><a href="https://t.me/kpitv" rel="external nofollow" target="_blank">@kpitv</a> – подкасти й матеріали університетського телебачення.</li>
                  <li class="list-group-item"><a href="https://t.me/vezhakpi" rel="external nofollow" target="_blank">@vezhakpi</a> – арт-простір Київського політеху. Мистецькі події, фільми та літературні зустрічі.</li>
                  <li class="list-group-item"><a href="https://t.me/kpiday" rel="external nofollow" target="_blank">@kpiday</a> – телеграм-щоденник життя Політехніки.</li>
                  <li class="list-group-item"><a href="https://t.me/kpi_work" rel="external nofollow" target="_blank">@kpi_work</a> – популярний канал пошуку роботи для студентів університету.</li>
                  <li class="list-group-item"><a href="https://t.me/kpicampus" rel="external nofollow" target="_blank">@kpicampus</a> – канал гуртожитської спільноти КПІ.</li>
                  <li class="list-group-item"><a href="https://t.me/kpikids" rel="external nofollow" target="_blank">@kpikids</a> – якщо ти нещодавно долучився до КПІ-спільноти, цей телеграм-ресурс – необхідний гайд для початку твоєї студентської стежини.</li>
                  <li class="list-group-item"><a href="https://t.me/chankpi" rel="external nofollow" target="_blank">@chankpi</a> – студентський гумор та розваги в одному чані.</li>
                  <li class="list-group-item"><a href="https://t.me/itkpi" rel="external nofollow" target="_blank">@itkpi</a> – простір для пошуку ІТ-можливостей. Must-have для програмістів.</li>
                  <li class="list-group-item"><a href="https://t.me/leport" rel="external nofollow" target="_blank">@leport</a> – літературна дискусійна платформа. Критиків та цінувальників мистецтва шукай тут.</li>
                  <li class="list-group-item"><a href="https://t.me/sr_kpi" rel="external nofollow" target="_blank">@sr_kpi</a> – канал Студентської ради КПІ</li>
                  <li class="list-group-item"><a href="https://t.me/radio_kpi" rel="external nofollow" target="_blank">@radio_kpi</a> – музичні новинки, ефіри РадіоКПІ.</li>
                  <li class="list-group-item"><a href="https://t.me/kpiradio_bot" rel="external nofollow" target="_blank">@kpiradio_bot</a> – бот від РадіоКПІ.</li>
                  <li class="list-group-item"><a href="https://t.me/kpi_look" rel="external nofollow" target="_blank">@kpi_look</a> – фотографії КПІ.</li>
                  <li class="list-group-item"><a href="https://t.me/kpi_777" rel="external nofollow" target="_blank">@kpi_777</a> – про те, за що студенти люблять КПІ.</li>
                  <li class="list-group-item"><a href="https://t.me/kpi_666" rel="external nofollow" target="_blank">@kpi_666</a> – про те, за що студенти не люблять КПІ.</li>
                  <li class="list-group-item"><a href="https://t.me/belka_space" rel="external nofollow" target="_blank">@belka_space</a> – канал відкритого студентського простору Belka.</li>
                  <li class="list-group-item"><a href="https://t.me/kpi_lampa" rel="external nofollow" target="_blank">@kpi_lampa</a> – відкрита лабораторія електроніки в КПІ.</li>
                  <li class="list-group-item"><a href="https://t.me/hochu_v_kpi" rel="external nofollow" target="_blank">@hochu_v_kpi</a> – канал для абітурієнтів КПІ.</li>
                </ul>
              </div>
            </div>
          </div>

          <!--  -->
          <div class="card mt-4">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h5 class="mt-2">Київський національний університет ім. Т. Шевченка</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://t.me/knustudents" rel="external nofollow" target="_blank">@knustudent</a> – новини з життя КНУ на одному ресурсі.</li>
                  <li class="list-group-item"><a href="https://t.me/spu_knu" rel="external nofollow" target="_blank">@spu_knu</a> – канал студентського самоврядування університету.</li>
                  <li class="list-group-item"><a href="https://t.me/srs_knu" rel="external nofollow" target="_blank">@srs_knu</a> – новини зі студмістечка Шеви.</li>
                </ul>
              </div>
            </div>
          </div>

          <!--  -->
          <div class="card mt-4">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h5 class="mt-2">Національний авіаційний університет</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://t.me/nauinformal" rel="external nofollow" target="_blank">@nauinformal</a> – останні новини з університетського життя НАУ.</li>
                  <li class="list-group-item"><a href="https://t.me/profkom_nau" rel="external nofollow" target="_blank">@profkom_nau</a> – канал профспілкової організації студентів.</li>
                </ul>
              </div>
            </div>
          </div>

          <!--  -->
          <div class="card mt-4">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h5 class="mt-2">Київський національний економічний університет ім. В. Гетьмана</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://t.me/kneu_media" rel="external nofollow" target="_blank">@kneu_media</a> – головний інформаційний ресурс КНЕУ. Тут зібрані не лише університетські новини та можливості. Це ще й справжнє бюро знахідок!</li>
                </ul>
              </div>
            </div>
          </div>

          <!--  -->
          <div class="card mt-4">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h5 class="mt-2">Національний університет «Києво-Могилянська академія»</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://t.me/kma_today" rel="external nofollow" target="_blank">@kma_today</a> – новини життя могилянців.</li>
                </ul>
              </div>
            </div>
          </div>

          <!--  -->
          <div class="card mt-4">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h5 class="mt-2">Національний педагогічний університет ім. М. Драгоманова</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://t.me/srNPU" rel="external nofollow" target="_blank">@srNPU</a> – телеграм-спільнота драгоманівців. Важливий інформаційний ресурс НПУ.</li>
                  <li class="list-group-item"><a href="https://t.me/npu_space" rel="external nofollow" target="_blank">@npu_space</a> – студентське медіа педагогічного університету. Студентський простір, де пишуть «про новий НПУ».</li>
                  <li class="list-group-item"><a href="https://t.me/npunka" rel="external nofollow" target="_blank">@npunka</a> – канал мемів про життя студентів.</li>
                </ul>
              </div>
            </div>
          </div>

          <!--  -->
          <div class="card mt-4">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h5 class="mt-2">Київський національний торговельно-економічний університет</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://t.me/knteu" rel="external nofollow" target="_blank">@knteu</a> – студентське медіа КНТЕУ.</li>
                  <li class="list-group-item"><a href="https://t.me/knteulive" rel="external nofollow" target="_blank">@knteulive</a> – спілкування, новини, обговорення, а також жарти й події в університеті.</li>
                </ul>
              </div>
            </div>
          </div>

          <!--  -->
          <div class="card mt-4">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h5 class="mt-2">Таврійський національний університет імені В. І. Вернадського</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://t.me/overheartnu" rel="external nofollow" target="_blank">@overheartnu</a> – спілкування, новини, обговорення.</li>
                </ul>
              </div>
            </div>
          </div>

          <!--  -->
          <div class="card mt-4">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h5 class="mt-2">Університет державної фіскальної служби України</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://t.me/USFSU_info" rel="external nofollow" target="_blank">@USFSU_info</a> – останні новини університету.</li>
                </ul>
              </div>
            </div>
          </div>

          <hr class="mt-5">
          <h2 id="item-2">Львів</h2>
          <!--  -->
          <div class="card mt-4">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h5 class="mt-2">Львівський національний університет ім. І. Франка</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://t.me/lnulife" rel="external nofollow" target="_blank">@lnulife</a> – усе про життя студентів у ЛНУ.</li>
                </ul>
              </div>
            </div>
          </div>

          <!--  -->
          <div class="card mt-4">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h5 class="mt-2">Національний університет «Львівська політехніка»</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://t.me/nulp_life" rel="external nofollow" target="_blank">@nulp_life</a> – новини з життя університету.</li>
                </ul>
              </div>
            </div>
          </div>

          <hr class="mt-5">
          <h2 id="item-3">Тернопіль</h2>

          <div class="card mt-4">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h5 class="mt-2">Тернопільський державний медичний університет</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://t.me/sptdmu" rel="external nofollow" target="_blank">@sptdmu</a> – інформаційний ресурс студентського парламенту.</li>
                </ul>
              </div>
            </div>
          </div>

          <hr class="mt-5">
          <h2 id="item-4">Івано-Франківськ</h2>

          <div class="card mt-4">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h5 class="mt-2">Прикарпатський національний університет ім. В. Стефаника</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://t.me/pnulife" rel="external nofollow" target="_blank">@pnulife</a> – університетське медіа Прикарпаття.</li>
                </ul>
              </div>
            </div>
          </div>

          <hr class="mt-5">
          <h2 id="item-5">Запоріжжя</h2>

          <div class="card mt-4">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h5 class="mt-2">Запорізький національний університет</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://t.me/ZNU_public" rel="external nofollow" target="_blank">@ZNU_public</a> – студентські можливості, заходи та останні події університету.</li>
                  <li class="list-group-item"><a href="https://t.me/lektoriy_znu" rel="external nofollow" target="_blank">@lektoriy_znu</a> – дайджест усіх подій неформальної освіти ЗНУ розміщується в одному каналі.</li>
                  <li class="list-group-item"><a href="https://t.me/dep_ssm" rel="external nofollow" target="_blank">@dep_ssm</a> – канал Департаменту спорту, сім’ї та молоді Запорізької міської ради. Інформують про місцеві молодіжні зустрічі, конкурси та ініціативи.</li>
                  <li class="list-group-item"><a href="https://t.me/znu_tv" rel="external nofollow" target="_blank">@znu_tv</a> – студентське телебачення ЗНУ.</li>
                </ul>
              </div>
            </div>
          </div>

          <hr class="mt-5">
          <h2 id="item-6">Харків</h2>

          <div class="card mt-4">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h5 class="mt-2">Харківський національний університет радіоелектроніки</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://t.me/donure" rel="external nofollow" target="_blank">@donure</a> – усе про стажування, вакансії, проекти й тренінги в університеті.</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card mt-4">
            <div class="card-header">
              <div class="row">
                <div class="col-md-2">
                  <picture>
                    <source srcset="/khnue-white.svg" media="(prefers-color-scheme: dark)">
                      <img src="/khnue.svg" height="62" width="62" alt="Логотип ХНЕУ">
                    </picture>
                  </div>
                  <div class="col-md-10">
                    <h5 class="mt-2">Харківський національний економічний університет імені Семена Кузнеця</h5>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="card-text">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://t.me/mo_khnue" rel="external nofollow" target="_blank">@mo_khnue</a> – останні новини молодіжної організації.</li>
                  </ul>
                </div>
              </div>
            </div>

            <hr class="mt-5">
            <h2 id="item-7">Одеса</h2>

            <div class="card mt-4">
              <div class="card-header">
                <div class="row">
                  <div class="col">
                    <h5 class="mt-2">Національний університет «Одеська юридична академія»</h5>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="card-text">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://t.me/profcomnuoua" rel="external nofollow" target="_blank">@profcomnuoua</a> – інформаційний канал студентського профкому. Останні новини про життя університету зібрано саме тут.</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="card mt-4">
              <div class="card-header">
                <div class="row">
                  <div class="col">
                    <h5 class="mt-2">Півдeнноукраінський національний пeдагогічний унівeрситeт імeні К.Д.Ушинського</h5>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="card-text">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://t.me/studentpnpu" rel="external nofollow" target="_blank">@studentpnpu</a> – інформаційний канал Студeнтськоі ради.</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="card mt-4">
              <div class="card-header">
                <div class="row">
                  <div class="col">
                    <h5 class="mt-2">Одеська державна академія будівництва та архітектури</h5>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="card-text">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://t.me/stud_profkom_ogasa" rel="external nofollow" target="_blank">@stud_profkom_ogasa</a> – інформаційний канал студентського профкому.</li>
                  </ul>
                </div>
              </div>
            </div>

            <hr class="mt-5">
            <h2 id="item-8">Дніпро</h2>

            <div class="card mt-4">
              <div class="card-header">
                <div class="row">
                  <div class="col">
                    <h5 class="mt-2">Дніпровський національний університет ім. О. Гончара</h5>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="card-text">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://t.me/press_service_dnu" rel="external nofollow" target="_blank">@press_service_dnu</a> – студентська прес-служба інформує про найцікавіші події з університетського життя ДНУ.</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="card mt-4">
              <div class="card-header">
                <div class="row">
                  <div class="col">
                    <h5 class="mt-2">Технічний університет «Дніпровська політехніка»</h5>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="card-text">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://t.me/ntudp" rel="external nofollow" target="_blank">@ntudp</a> – останні новини університету.</li>
                  </ul>
                </div>
              </div>
            </div>

            <hr class="mt-5">
            <h2 id="item-9">Суми</h2>

            <div class="card mt-4">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-2">
                    <picture>
                      <source srcset="/sumdu-white.svg" media="(prefers-color-scheme: dark)">
                        <img src="/sumdu.svg" height="64" width="64" alt="Логотип СумДУ">
                      </picture>
                    </div>
                    <div class="col-md-10">
                      <h5 class="mt-2">Сумський державний університет</h5>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-text">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a href="https://t.me/pos_sumdu" rel="external nofollow" target="_blank">@pos_sumdu</a> – про новини та майбутні студентські події інформує канал профспілки СумДУ.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <hr class="mt-5">
              <h2 id="item-10">Черкаси</h2>

              <div class="card mt-4">
                <div class="card-header">
                  <div class="row">
                    <div class="col">
                      <h5 class="mt-2">Черкаський державний технологічний університет</h5>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-text">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a href="https://t.me/stud_rada_cstu" rel="external nofollow" target="_blank">@stud_rada_cstu</a> – канал студентської ради.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="text-muted font-weight-lighter"><small>Інформація із сайту studway.com.ua</small></p>
      </main>
      <%= render "layouts/footer" %>
