<% meta_tag :description, "Відео презентація сервісу Мій Університет" %>
<% @title = "Відео презентація сервісу Мій Університет" %>

<%= render "layouts/header" %>
<main class="container" role="main">
  <div class="container">
    <div class="row my-3">
      <div class="col">
        <h1 class="font-weight-light">Мій Університет - Відео презентація</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <video controls="controls" class="img-fluid" poster="/Poster.png" src="/My University Presentation.m4v"></video>
      </div>
    </div>
    <div class="row">
      <div class="alert alert-secondary mx-3" role="alert">
        <a href="/My University.pdf" class="alert-link">Презентація у форматі PDF</a> 📄
      </div>
    </div>
  </div>
</main>
<%= render "layouts/footer" %>
