<% meta_tag :description, "Зовнішнє незалежне оцінювання 2019 в Україні, ЗНО 2019" %>
<% meta_tag :keywords, 'ЗНО 2019,Зовнішнє незалежне оцінювання 2019,Розклад,ЗНО' %>

<%= render "layouts/header" %>
<main class="container" role="main">
  <div class="container">
    <div class="row">
      <h3>Зовнішнє незалежне оцінювання 2019</h3>
    </div>
    <div class="row">
      <h5>ЗНО 2019</h5>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <tbody>
          <tr class="table-secondary">
            <td>8 - 31 січня</td>
            <td><b>Реєстрація на пробне ЗНО</b></td>
          </tr>
          <tr>
            <td>16 березня</td>
            <td>Пробне ЗНО з Української мови та літератури</td>
          </tr>
          <tr>
            <td>23 березня</td>
            <td>Пробне ЗНО з предметів:
              <ul>
                <li>Історія України</li>
                <li>Математика</li>
                <li>Біологія</li>
                <li>Географія</li>
                <li>Фізика</li>
                <li>Хімія</li>
                <li>Англійська мова</li>
                <li>Іспанська мова</li>
                <li>Німецька мова</li>
                <li>Французька мова</li>
              </ul></td>
          </tr>
          <tr class="table-active">
            <td>5 лютого - 25 березня</td>
            <td>
              <p><b>Реєстрація на ЗНО</b></p>
              <p><b>Додаткового періоду для перереєстрації</b> учасників ЗНО 2019 року <b>не передбачено</b></p>
              </td>
          </tr>
          <tr>
            <td>до 30 квітня</td>
            <td>
              <p>Розміщення на інформаційних сторінках учасників запрошень-перепусток</p>
              <p><b>До 30 квітня 2019 року</b> учасники зможуть завантажити зі своїх інформаційних сторінок <b>запрошення-перепустку</b> з указаним часомі та місцем проведення тестувань</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <table class="table table-bordered">
        <tbody>
          <tr class="table-secondary">
            <td>21 травня - 13 червня</td>
            <td><b>Основна сесія ЗНО</b></td>
          </tr>
          <tr>
            <td>21 травня</td>
            <td>Математика</td>
          </tr>
          <tr>
            <td>23 травня</td>
            <td>Українська мова та література</td>
          </tr>
          <tr>
            <td>27 травня</td>
            <td>
              <p>Іспанська мова</p>
              <p>Німецька мова</p>
              <p>Французька мова</p>
            </td>
          </tr>
          <tr>
            <td>28 травня</td>
            <td>Англійська мова</td>
          </tr>
          <tr>
            <td>30 травня</td>
            <td>Фізика</td>
          </tr>
          <tr>
            <td>4 червня</td>
            <td>Історія України</td>
          </tr>
          <tr>
            <td>6 червня</td>
            <td>Біологія</td>
          </tr>
          <tr>
            <td>11 червня</td>
            <td>Географія</td>
          </tr>
          <tr>
            <td>13 червня</td>
            <td>Хімія</td>
          </tr>
        </tbody>
      </table>
    </div>

     <div class="row">
      <table class="table table-bordered">
        <tbody>
          <tr class="table-secondary">
            <td colspan="2"><b>Оголошення порогових балів "склав/не склав"</b></td>
          </tr>
          <tr>
            <td>до 13 червня</td>
            <td>
              <p>Математика</p>
              <p>Українська мова та література</p>
              <p>Фізика</p></td>
          </tr>
          <tr>
            <td>до 19 червня</td>
            <td>
              <p>Іноземні мови</p>
              <p>Біологія</p></td>
          </tr>
          <tr>
            <td>до 24 червня</td>
            <td>
              <p>Історія України</p>
              <p>Географія</p>
              <p>Хімія</p></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <table class="table table-bordered">
        <tbody>
          <tr class="table-secondary">
            <td colspan="2"><b>Оголошення результатів ЗНО</b></td>
          </tr>
          <tr>
            <td>до 14 червня</td>
            <td>
              <p>Математика</p>
              <p>Українська мова та література</p>
              <p>Фізика</p></td>
          </tr>
          <tr>
            <td>до 20 червня</td>
            <td>
              <p>Іноземні мови</p>
              <p>Біологія</p></td>
          </tr>
          <tr>
            <td>до 25 червня</td>
            <td>
              <p>Історія України</p>
              <p>Географія</p>
              <p>Хімія</p></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <table class="table table-bordered">
        <tbody>
          <tr class="table-secondary">
            <td><b>26 червня - 12 липня</b></td>
            <td>
              <p><b>Додаткова сесія ЗНО</b></p>
              <p><u>Графік буде повідомлено до 30 квітня</u></p>
            </td>
          </tr>
          <tr>
            <td><b>до 18 липня</b></td>
            <td><b>Оголошення результатів ЗНО додаткової сесії</b></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <p class="text-muted">Інформація із сайту <a class="text-muted" href="https://znoclub.com/inshe/1161-grafik-zno-2019.html">znoclub.com</a></p>
    </div>
  </div>
</main>
<%= render "layouts/footer" %>
