<%= render "layouts/navbar", university: @university %>
<p id="notice"><%= notice %></p>

<main class="container" role="main">
  <div class="mb-3">
    <h1><%= @building.name %></h1>
    <h3><%= @building.description %></h3>
  </div>
</main>
