<%= render "layouts/header" %>
<div class="px-3 py-3 mx-auto text-center">
	<h2 class="h1-responsive font-weight-bold text-center my-5">Ой 🤔</h2>
	<p class="grey-text text-center w-responsive mx-auto mb-5">Щось пішло не так...</p>
	<p>Спробуйте повернутися на <%= link_to 'Головну', root_url %> сторінку, або <a href="mailto:voevodin-yura@icloud.com">Повідомте про помилку</a></p>
</div>
<%= render "layouts/footer" %>