<%= render "layouts/navbar", university: @university %>
<p id="notice"><%= notice %></p>

<p>
  <h1><%= @teacher.name %></h1>
</p>

<%= render "records/show", records: @records, university: @university %>
