<% @title = "#{@university.short_name} - #{@discipline.visible_name}" %>
<% no_index %>

<%= render "layouts/navbar", university: @university %>

<main class="container" role="main">
  <div class="mx-auto col-md-8">

    <div class="row my-4">
      <div class="col">
        <h5 class="mt-4"><span class="font-weight-bold">Дякуємо за допомогу!</span></h5>
        <p>Ваша пропозиція буде розглянута найближчим часом</p>
        <p><%= link_to "Повернутися до дисципліни", university_discipline_url(@university.url, @discipline.friendly_id), class: "btn btn-primary" %></p>
      </div>
    </div>

  </div>
</main>
<%= render "layouts/footer" %>
