<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <form action="" method="get">
      <div class="form-group">
        <div class="input-group mb-3" id="inputDate">
          <input type="date" id="start" name="pair_date"
          value="<%= @pair_date %>"
          min="2018-01-01" max="2022-12-31" class="form-control">
          <div class="input-group-append">
            <input type="submit" class="btn btn-outline-primary" value="Дивитися">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>