<div class="container">
	<footer class="pt-4 my-md-5 pt-md-5 border-top">
		<div class="row">
			<div class="col-12 col-md">
				<small class="d-block mb-3 text-muted">&copy; 2019 <a class="text-muted" href="https://voevodin-yura.com/ua/">Юра Воєводін</a></small>
			</div>
			<div class="col-6 col-md">
				<ul class="list-unstyled text-small">
					<li><a href="https://itunes.apple.com/ua/app/%D0%BC%D1%96%D0%B9-%D1%83%D0%BD%D1%96%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82/id1440425058?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2018-10-31&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"></a></li>
			</div>
			<div class="col-6 col-md">
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="/about">Про сервіс</a></li>
					<li><a class="text-muted" href="/cooperation">Співпраця</a></li>
					<li><a class="text-muted" href="/contacts">Контакти</a></li>
					<li><a href="/zno-2019">ЗНО 2019</a></li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="mailto:voevodin-yura@icloud.com">Повідомити про помилку</a></li>
					<li><a class="text-muted" href="/privacy-policy">Privacy Policy</a></li>
					<li><a class="text-muted" href="/terms-of-service">Terms of Service</a></li>
				</ul>
			</div>
		</div>
	</footer>
</div>