<div class="container">
	<footer class="Footer border-top">
		<div class="row pl-3 pt-4">
			<div class="col-md">
				<small class="d-block mb-3 Text-light">&copy; 2019 <a class="Text-light" href="https://voevodin-yura.com/ua/">Юра Воєводін</a></small>
			</div>
			<div class="col-md">
				<ul class="list-unstyled text-small">
					<li> <a class="Text-light" href="https://apps.apple.com/ua/app/my-university/id1440425058?mt=8">iOS Додаток</a></li>
					<li><a class="Text-light" href="https://play.google.com/store/apps/details?id=ua.com.myuniversity">Android додаток</a></li>
				</div>
				<div class="col-md">
					<ul class="list-unstyled text-small">
						<li><a class="Text-light" href="/about">Про сервіс</a></li>
						<li><a class="Text-light" href="/cooperation">Співпраця</a></li>
						<li><a class="Text-light" href="/contacts">Контакти</a></li>
					</ul>
				</div>
				<div class="col-md">
					<ul class="list-unstyled text-small">
						<li><a class="Text-light" href="https://forms.gle/QuLTXgoKMXbDACGD6">Залишити відгук</a><span class="align-top ml-2"><%= octicon "heart" %></span></li>
						<li><a class="Text-light" href="/privacy-policy">Політика конфіденційності</a></li>
						<li><a class="Text-light" href="/terms-of-service">Умови обслуговування</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
