<div class="container">
	<footer class="Footer border-top">
		<div class="row pl-3 pt-4">
			<div class="col-md">
				<ul class="list-unstyled text-small">
					<li><small class="d-block mb-1 Text-light">&copy; 2017-2020 <a class="Text-light" href="https://voevodin-yura.com/ua/">Юра Воєводін</a></small></li>
					<li><i class="fas fa-ad mr-1"></i><a class="Text-light" href="/ads">Спонсорство та реклама</a></li>
				</ul>
			</div>
			<div class="col-md">
				<ul class="list-unstyled text-small">
					<li><i class="fab fa-apple mr-2"></i><a class="Text-light" href="https://apps.apple.com/ua/app/my-university/id1440425058?mt=8">iOS Додаток</a></li>
					<li><i class="fab fa-android mr-2"></i><a class="Text-light" href="https://play.google.com/store/apps/details?id=ua.com.myuniversity">Android додаток</a></li>
				</div>
				<div class="col-md">
					<ul class="list-unstyled text-small">
						<li><a class="Text-light" href="/about">Про сервіс</a></li>
						<li><a class="Text-light" href="/pricing">Підключення</a></li>
						<li><a class="Text-light" href="/contacts">Контакти</a></li>
					</ul>
				</div>
				<div class="col-md">
					<ul class="list-unstyled text-small">
						<li><a class="Text-light" href="https://forms.gle/QuLTXgoKMXbDACGD6">Залишити відгук</a><i class="fas fa-heart ml-2"></i></li>
						<li><a class="Text-light" href="/privacy-policy">Політика конфіденційності</a></li>
						<li><a class="Text-light" href="/terms-of-service">Умови обслуговування</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
