<div class="Header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 shadow-sm">
  <%= link_to 'Мій Університет', root_url, class: "my-0 mr-md-auto font-weight-normal" %>
  <nav class="my-2 my-md-0 mr-md-3">
    <%= link_to 'Android', android_url, class: "p-2" %>
    <%= link_to 'iOS', ios_url, class: "p-2" %>
    <a class="p-2" href="/cooperation"><%= octicon "plus" %> Додати університет</a>
  </nav>
</div>
