<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <%= link_to 'Мій Університет', root_url, class: "text-muted my-0 mr-md-auto font-weight-normal h5" %>
</div>