<div class="container">
  <div class="row">
    <% if @university.url == 'sumdu' %>
    <p class="text-muted font-weight-lighter"><small>Інформація із сайту schedule.sumdu.edu.ua</small></p>
    <% elsif @university.url == 'kpi' %>  
    <p class="text-muted font-weight-lighter"><small>Інформація із сайту rozklad.org.ua</small></p>
    <% end %>
  </div>
</div>